---
import { cva } from '../../../styled-system/css'

const container = cva({
  base: {
    width: '100%',
    padding: '0 1rem',
    margin: '0 auto',
    maxWidth: '1200px'
  },
  variants: {
    size: {
      fluid: {
        maxWidth: '100%'
      },
      fixed: {
        maxWidth: '1200px'
      },
      narrow: {
        maxWidth: '800px'
      }
    }
  }
})

interface Props {
  size?: 'fluid' | 'fixed' | 'narrow'
}

const { size } = Astro.props
---

<div class={container({ size })}>
  <slot />
</div>
