---
import { css } from '../../../styled-system/css'
---

<!doctype html>
<html lang="en" data-color-mode="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Test Astro</title>
  </head>
  <body
    class={css({
      backgroundColor: 'neutral.background.1.enabled'
    })}
  >
    <div class="container">
      <slot />
    </div>
  </body>
</html>
