---
import Button from '../components/Button/Button.astro'
import { Card } from '../components/Card/Card'
import PageLayout from '../components/Layout/PageLayout.astro'

const { data } = Astro.props
---

<PageLayout>
  <h1>{data.instance.title}</h1>
  <Button color="primary" url="https://www.youtube.com/watch?v=O43x26hiolw">
    Hola que ase
  </Button>
  {
    data.instance.relations.blocks.instances.map(block => {
      return <Card title={block.title} />
    })
  }
</PageLayout>
