@layer tokens {
    :where(:root, :host) {
  --colors-blue-50: #EEFAFC;
  --colors-blue-100: #C9EEF6;
  --colors-blue-200: #AFE6F1;
  --colors-blue-300: #8ADBEB;
  --colors-blue-400: #74D4E7;
  --colors-blue-500: #51C9E1;
  --colors-blue-600: #4AB7CD;
  --colors-blue-700: #3A8FA0;
  --colors-blue-800: #2D6F7C;
  --colors-blue-900: #22545F;
  --colors-gray-50: #F5F5F5;
  --colors-gray-75: #F0F0F0;
  --colors-gray-100: #EBEBEB;
  --colors-gray-150: #E6E6E6;
  --colors-gray-200: #C6C6C6;
  --colors-gray-300: #ABABAB;
  --colors-gray-400: #9B9B9B;
  --colors-gray-500: #828282;
  --colors-gray-600: #5C5C5C;
  --colors-gray-700: #3A8FA0;
  --colors-gray-800: #484848;
  --colors-gray-900: #333333;
  --colors-gray-950: #1A1A1A;
  --colors-white: #FFFFFF;
  --colors-black: #000000;
  --fonts-inter: 'Inter', sans-serif;
  --fonts-work: 'Work Sans Variable', sans-serif;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --colors-neutral-foreground-1-enabled: var(--colors-gray-900);
  --colors-neutral-background-1-enabled: var(--colors-gray-50)
}

[data-color-mode=dark] {
  --colors-neutral-foreground-1-enabled: var(--colors-white);
  --colors-neutral-background-1-enabled: var(--colors-gray-950)
}
  }
  