---
import { cva } from '../../../styled-system/css'
import ThemeButton from '../Button/ThemeButton.astro'
import Container from '../Layout/Container.astro'
import Text from '../Text/Text.astro'

const headerWrapper = cva({
  base: {
    width: '100%',
    display: 'flex',
    justifyContent: 'space-between',
    alignItems: 'center',
    padding: '1rem'
  }
})

const { title } = Astro.props
---

<header>
  <Container>
    <div class={headerWrapper()}>
      <Text as="h1" size="text5" weight="400" color="neutral">
        {title}
      </Text>
      <ThemeButton />
    </div>
  </Container>
</header>
