---
import { cva } from '../../../styled-system/css'
import Container from '../Layout/Container.astro'
import ThemeButton from './ThemeButton.astro'

const headerWrapper = cva({
  base: {
    display: 'flex',
    justifyContent: 'space-between',
    alignItems: 'center',
    padding: '1rem'
  }
})

const { title } = Astro.props
---

<header class={headerWrapper()}>
  <Container>
    <h1>{title}</h1>
    <ThemeButton />
  </Container>
</header>
