---
import { cva } from '../../../styled-system/css'

const button = cva({
  base: {
    cursor: 'pointer',
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    backgroundColor: 'neutral.background.2.enabled',
    borderColor: 'brand.primary.stroke.1.enabled',
    borderWidth: '2px',
    borderRadius: 'full',
    padding: '2'
  }
})

const sun = cva({
  base: {
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    borderColor: 'brand.primary.stroke.1.enabled',
    backgroundColor: 'brand.primary.background.1.selected',
    borderRadius: 'full',
    padding: '2',
    width: '24px',
    height: '24px',
    stroke: 'white',
    transition: 'all',
    transitionDuration: '100',
    transitionTimingFunction: 'easeInOut',
    _dark: {
      backgroundColor: 'transparent',
      stroke: 'brand.primary.foreground.1.enabled'
    }
  }
})

const moon = cva({
  base: {
    _dark: {
      backgroundColor: 'brand.primary.background.1.selected'
    },
    _light: {
      backgroundColor: 'transparent',
      stroke: 'brand.primary.foreground.1.enabled'
    }
  }
})
---

<button id="themeToggle" class={button()}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class={sun()}
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
    <path
      d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
    ></path>
  </svg>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class={`${sun()} ${moon()}`}
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
    ></path>
  </svg>
</button>

<script is:inline>
  const updateThemeAttribute = theme => {
    document.documentElement.setAttribute('data-color-mode', theme)
  }

  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  updateThemeAttribute(theme)

  const handleToggleClick = () => {
    const isDark =
      document.documentElement.getAttribute('data-color-mode') === 'dark'

    const newTheme = isDark ? 'light' : 'dark'
    updateThemeAttribute(newTheme)
    localStorage.setItem('theme', newTheme)
  }

  document
    .getElementById('themeToggle')
    .addEventListener('click', handleToggleClick)
</script>
